.goBack{
    position: relative;
    color: #fff;
    padding: 10px;
    height: 237px;
}

.signType{
    position: relative;
    display: flex;
    text-align: center;
    font-size: 24px;
    top: 1.550px;
    font-weight: 500;
}

.defaultColor{
    color: #fff;
    opacity: 0.4;
}

.activeColor{
    opacity: 1;
    color: #fff;
}

.signType div{
    width: 50%;
}

.caretTop{
    position: absolute;
    top: 125px;
    color: #fff;
    font-size: 29px;
    width: 100%;
}

.caretTop .leftI{
    position: relative;
    left:23%;
}

.caretTop .rightI{
    position: relative;
    left: 68%;
}

.inputGroup{
    position: absolute;
    width: 343px;
    left:16px;
    top: 150px;
    background: #fff;
    box-shadow:0px 6px 16px 0px rgba(254,55,32,0.24);
    border-radius:10px;
    padding: 40px 27px 50px 27px;
}

.auth{
    margin-bottom: 52px;
}


.password{
    padding: 0px 10px;
    font-size: 13px;
    line-height: 24px;
    color: #666666;
    height: 12px;
    margin-bottom: 28px;
    font-weight: 400;
}

.password span{
    float: right;
}


