<app-common-title [showReturn]=true [title]='title'></app-common-title>
<ion-content>
<section class="pd">
    <h4>一、竞彩玩法简介</h4>
    <h4>1、竞彩足球胜平负游戏</h4>
    <p>足球比赛由两支队伍在专用足球场地竞赛，每队11名队员，法定比赛时间为90分钟，有时裁判会根据比赛时队员受伤后救治所耽误的时间在90分钟后补时，多为几分钟，称为伤 停补时时间，竞彩足球彩票竞猜的比赛结果为90分钟加上伤停补时的时间里的结果;</p>
    <p>足球比赛的结果有3种，主队胜，主队负以及双方打平。主队胜则主队得3分，主队负则主队不得分，主队与客队打平则主队得1分。</p>
    <p>足球彩票竞猜胜平负时用3、1、0分别代表主队胜、主客战平和主队负。</p>
    <p>彩民选定1场比赛，对主队在全场90分钟（含伤停补时）的 "胜"、"平"、"负"结果进行投注。</p>
    <h4>投注举例：例如：曼联（主队）VS利物浦（客队）</h4>
    <p>当两支球队实力悬殊较大时，采取让球的方式确定双方的胜平负关系。让球的数量确定后将维持不变。让球分为主队让球和客队让球，分别为：主队让1球，表示为"主队（-1）"；客队让2球，表示为"主队（+2）"。</p>
    <h3><img src="../../assets/3.jpg" alt="" width="100%"></h3>
    <p>(一) 主队让一球</p>
    <p>1、"3"主队比分减去客队比分大于1时，主队胜，客队负；</p>
    <p>2、"1"客队比分减去主队比分等于1时，主队与客队平；</p>
    <p>3、"0"客队比分减去主队比分大于1时，主队负，客队胜。</p>
    <p>(二) 客队让一球</p>
    <p>1、"3"客队比分减去主队比分小于1时，主队胜，客队负；</p>
    <p>2、"1"客队比分减去主队比分等于1时，主队与客队平；</p>
    <p>3、"0"客队比分减去主队比分大于1时，主队负，客队胜。</p>
    <p>(三) 主队让两球</p>
    <p>1、"3"主队比分减去客队比分大于2时，主队胜，客队负；</p>
    <p>2、"1"主队比分减去客队比分等于2时，主队与客队平；</p>
    <p>3、"0"主队比分减去客队比分小于2时，主队负，客队胜。</p>
    <p>(四) 客队让两球</p>
    <p>1、"3"客队比分减去主队比分小于2时，主队胜，客队负；</p>
    <p>2、"1"客队比分减去主队比分等于2时，主队与客队平；</p>
    <p>3、"0"客队比分减去主队比分大于2时，主队负，客队胜。</p>
    <p>(五) 主队让三球</p>
    <p>1、"3"主队比分减去客队比分大于3时，主队胜，客队负；</p>
    <p>2、"1"主队比分减去客队比分等于3时，主队与客队平；</p>
    <p>3、"0"主队比分减去客队比分小于3时，主队负，客队胜。</p>
    <p>(六) 客队让三球</p>
    <p>1、"3"客队比分减去主队比分小于3时，主队胜，客队负；</p>
    <p>2、"1"客队比分减去主队比分等于3时，主队与客队平；</p>
    <p>3、"0"客队比分减去主队比分大于3时，主队负，客队胜。</p>
    <p>具体让球数量根据实际比赛的情况酌情而定。</p>
    <h4>投注举例：例如：国米（-1）VS尤文</h4>
    <h3><img src="../../assets/4.jpg" alt="" width="100%"></h3>
    <h4>2、竞彩足球比分游戏</h4>
    <p>主队胜：1:0 2:0 3:0 4:0 2:1 3:1 3:2 4:1 4:2 5:0 5:1 5:2胜其他</p>
    <p>主队平：0:0 1:1 2:2 3:3 平其他</p>
    <p>主队负：0:1 0:2 0:3 0:4 1:2 1:3 1:4 2:3 2:4 0:5 1:5 2:5 负其他</p>
    <p>主队比分在前，客队比分在后。</p>
    <p>彩民选定1场比赛，对该场比赛在全场90分钟（含伤停补时）的具体比分结果进行投注。如果彩民能竞猜正确，则中奖。</p>
    <h4>例：利物浦2：0米德尔斯堡 正确结果：2：0</h4>
    <p>投注方式：单式投注、复式投注、倍投、过关投注。</p>
    <h4>3、竞彩足球总进球数游戏</h4>
    <p>共有8个投注选项：</p>
    <p>0 双方进球数之和为0，即没有进球</p>
    <p>1 双方进球数之和为1</p>
    <p>2 双方进球数之和为2</p>
    <p>3 双方进球数之和为3</p>
    <p>4 双方进球数之和为4</p>
    <p>5 双方进球数之和为5</p>
    <p>6 双方进球数之和为6</p>
    <p>7+ 双方进球数之和为7球或7球以上</p>
    <p>彩民选定1场比赛，对该场比赛在全场90分钟（含伤停补时）比赛双方的进球总数结果进行投注。如果彩民能竞猜正确，则中奖。</p>
    <h4>例：利物浦2：0米德尔斯堡 总进球数为2</h4>
    <p>投注方式：单式投注、复式投注、倍投、过关投注。</p>
    <h4>4、竞彩足球半全场胜平负游戏</h4>
    <p>共有9个投注选项</p>
    <p>3-3 主队上半场胜+主队全场胜</p>
    <p>3-1 主队上半场胜+主队全场平</p>
    <p>3-0 主队上半场胜+主队全场负</p>
    <p>1-3 主队上半场平+主队全场胜</p>
    <p>1-1 主队上半场平+主队全场平</p>
    <p>1-0 主队上半场平+主队全场负</p>
    <p>0-3 主队上半场负+主队全场胜</p>
    <p>0-1 主队上半场负+主队全场平</p>
    <p>0-0 主队上半场负+主队全场负</p>
    <p>彩民选定1场比赛，对主队在上半场45分钟（含伤停补时）和全场90分钟（含伤停补时）的"胜"、"平"、"负"结果分别进行投注。如果彩民能竞猜正确，则中奖。</p>
    <h4>例：利物浦上半场0:0全场2:0 米德尔斯堡，正确结果1-3</h4>
    <p>投注方式：单式投注、复式投注、倍投、过关投注。</p>
    <h4>二、投注方式</h4>
    <p>彩民选择1种投注结果的为单式投注；选择2种或2种以上投注结果的为复式投注。</p>
    <p>彩民选择1场比赛进行投注的为单场投注；选择2场或2场以上比赛进行串联投注的为过关投注。</p>
    <p>在过关投注中，所选比赛的结果全部竞猜正确才能中奖。</p>
    <p>（让球）胜平负有8种过关方式：单关，2×1，3×1，4×1，5×1，6×1，7×1和8×1。</p>
    <p>比分和半全场胜平负游戏有4种过关方式：单关，2×1，3×1和4×1。</p>
    <p>总进球游戏有6种过关方式：单关，2×1，3×1，4×1，5×1和6×1。</p>
    <h5>三、奖金计算</h5>
    <p>彩民的投注结果与开奖结果一致的即为中奖。</p>
    <p>开奖结果以实际比赛结果为依据，不受其后任何更改的影响。</p>
    <p>彩民可在<b>中国体育彩票</b>竞彩标准店内，或通过中国竞彩网查询赛事信息、开奖结果、固定奖金。</p>
    <p>竞彩足球游戏的奖金为销售额的73%，其中的72%为返奖奖金，1%为调节基金。根据游戏规则，本游戏只设置固定奖金。</p>
    <h5>1、奖金计算公式</h5>
    <p>奖金计算公式：中奖奖金(税前)=出票SP值（1） × 出票SP值（2）× 2（元） × 投注倍数 (N串1算法以此类推，即乘以N个出票SP值)。</p>
    <h5>2、单注彩票最高限额 </h5>
    <p>（1）选择单场投注的，单注最高奖金限额10万元；</p>
    <p>（2）选择2-3场过关投注的，单注最高奖金限额20万元；</p>
    <p>（3）选择4-5场过关投注的，单注最高奖金限额50万元；</p>
    <p>（4）选择6场过关投注的，单注最高奖金限额100万元。</p>
    <h4>四、特殊情况的处理办法</h4>
    <p>1、无效比赛的处理，由于比赛取消、延期等原因，导致某场比赛被认定为无效场次，则该场比赛的所有单场投注按退票处理，从比赛被认定无效的公告发布后的当日起计算。</p>
    <p>2、彩民在过关投注中对该场比赛的所有选择均视为无效，固定奖金按在原投注时刻去除该场比赛后的投注组合对应的固定奖金计算；各关奖金数额可参考投注时打印的"奖金计算明细清单"。</p>
    <h5>例如："国米（-1）VS尤文+曼联VS利物浦+巴萨VS皇马"的胜平负游戏</h5>
    <p>购买1注"巴萨VS皇马"的单场投注；购买1注"3×1"过关组合。完成投注时刻"国米（-1）VS尤文+曼联VS利物浦"的"2×1"过关组合及"3×1"过关组合所对应的固定奖金如下所示：</p>
    <p>过关组合"3×1":国米"胜"+曼联"负"+巴萨"胜"=12元</p>
    <p>过关组合"2×1":国米"胜"+曼联"负"=4.8元</p>
    <h5>假如"巴萨VS皇马"被认定无效：</h5>
    <p>（1）退还单场投注金额2元。</p>
    <p>（2）"3×1"过关组合应被认定为"2×1"过关组合，如彩民竞猜正确，最后中奖金额为4.8元。</p>
</section>
</ion-content>
