<app-common-title [showReturn]=true [title]='title'></app-common-title>

<div class="page change">
  <div class="contant">
      <div class="input">
          <input type="password" placeholder="旧密码" [(ngModel)]="oldPwd">
        </div>
        <div class="input">
          <input type="password" placeholder="新密码（6-15个字母或数字）" [(ngModel)]="newPwd">
        </div>
        <div class="input">
          <input type="password" placeholder="再次输入新密码" [(ngModel)]="rePwd">
        </div>
  </div>
  <div class="buttonGroup">
    <button class="btn1" (click)="commitPwd()">确定</button>
  </div>
</div>

<app-alert [showPop]="showPop" [showTips]="showTips"></app-alert>