<app-common-title [showReturn]=true [title]='title'></app-common-title>

<div class="page change">
    <div class="content">
        <input class="input" type="text" [(ngModel)]="weixinCode" placeholder="请填写微信账号">
        <i class="iconfont icon-guanbi1 closeIcon" *ngIf="!!weixinCode && weixinCode.length!=0"
            (click)="clearCode()"></i>
    </div>
    <div class="tips">
        站点可通过微信与您联系，也可通过微信钱包与您结算除票款，中奖奖金；如有变化，请即使修改并告知站主。
    </div>

    <div class="button buttonGroup">
        <ng-container *ngIf="!!weixinCode && weixinCode.length!=0; else commitCode">
            <button class="btn1" (click)="changeWeixin()">确认修改</button>
        </ng-container>
        <ng-template #commitCode>
            <button class="btn1" (click)="changeWeixin()">提交</button>
        </ng-template>
    </div>
</div>
<app-alert [showPop]="showPop" [showTips]="showTips"></app-alert>
<app-password [showPwdPop]="showPwdPop" (onPwdChanged)="getPwd($event)" (onClosePop)="getClosePop($event)">
</app-password>
<app-confirm [showConfirmPop]="showConfirmPop" (confirm)="confirm()"></app-confirm>