<app-common-title [showReturn]=true [title]='title'></app-common-title>
<ion-content>
<div class="agreement">
  <p>
    本服务条款是您（或称“用户”）与“彩e通”信息服务平台（包含“彩e通”网站、“彩e通”手机终端软件）的所有者——北京彩易通网络技术有限公司（北京彩易通网络技术有限公司及其关联公司、“彩e通”信息服务平台在协议中统称为“彩e通”或平台，通过“彩e通”信息服务平台为您提供服务）之间就“彩e通”提供的信息服务等相关事宜所订立的协议。“彩e通”仅向您提供一种彩票信息平台服务，而非彩种方案投注交易。为使用“彩e通”平台服务，您应当阅读、确认并并遵守《“彩e通”平台服务协议》（以下简称“本协议”）。
  </p>
  <p>
    请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。<strong>限制、免责条款可能以黑体加粗形式提示您注意。</strong>本协议采用电子数据的形式发布在“彩e通”平台，除非您已阅读并接受本协议所有条款，否则您无权使用“彩e通”平台服务。您在协议页面点击“我同意”的行为以及安装、使用、登录等行为均视为您同意本协议及其组成部分的全部内容，并愿遵照执行。<strong>您保证您在使用本服务时已满18周岁，且具有完全的民事行为能力。</strong>
  </p>
  <h3>第1条 定义</h3>
  <p>1.1<strong>“彩e通”：</strong>是提供及维护彩票信息发布的服务平台，其为平台注册用户（“彩票购买者”和彩票投注站）提供信息中介和管理服务，并设计、开发彩票信息服务产品。</p>
  <p>
    1.2<strong>“彩票购买者”：</strong>指通过“彩e通”完成全部注册程序后，使用“彩e通”平台服务向彩票投注站购买彩票的自然人。为免疑义，“彩e通”的注册用户应为年满18周岁、具有完全民事行为能力的中国籍自然人。<strong>“彩e通”不鼓励在校大学生购买彩票。</strong>
  </p>
  <p>
    1.3<strong>“站点”：</strong>即“彩票投注站”或“投注站”，由当地体育彩票或福利彩票中心授权，具有线下合法从事销售中国体育彩票或中国福利彩票牌照的站点，为平台的彩票购买者提供服务的彩票销售者。通过“彩e通”接收彩票购买者预约成功的方案信息，并在接单后及时完成与彩票购买者沟通出票结算、出票、反馈出票成功与否状态、为彩票购买者保存票样、代兑奖等服务。
  </p>
  <p>1.4<strong>“彩e通账户”：</strong>指彩票购买者或站点在“彩e通”设立的虚拟账户，专门用于保存您最近三个月内通过“彩e通”向站点发起的出票请求、您虚拟钱包的余额及最近三个月的购买记录和中奖记录。</p>
  <p>1.5<strong>“用户钱包”：</strong>您委托站点为其处理出票结算、兑奖结算的虚拟钱包，用于记录您近三个月的购买记录和中奖记录。</p>
  <p>1.6<strong>“预约成功”：</strong>彩票购买者通过“彩e通”选择或上传彩票方案信息，在“彩e通”规定的截止时间前向站点<strong>发起预约出票请求</strong>的方案状态。</p>
  <p>1.7<strong>“站点接单”：</strong>站点接收您预约的方案信息并同意为您出票的状态，并在接单后及时与用户沟通出票结算、兑奖方式等，完成相应彩票的出票、反馈出票成功与否状态和彩票兑奖等服务。</p>
  <p>
    1.8<strong>“出票”：</strong>站点按照您发起的彩票方案，通过当地体育彩票中心或福利彩票中心发放的彩票销售终端机打印相应彩票的服务。您在“彩e通”提交的预约成功方案，站点接单后并不代表彩票已经投注成功，站点线下与您进行出票结算、出票、兑奖、兑奖结算等处理，处理周期根据不同彩票品种的操作难易性而定，方案订单状态中将明示您的方案处理情况，站点成功接单后请务必进入“方案管理”确认方案出票情况。您通过“彩e通”提交的预约成功方案在线下投注站成功接单后（即“方案详情”中方案状态显示为“站点接单”）都将视为不可撤销的。<strong>出票成功是您彩票购买成功的唯一标志。</strong>
  </p>
  <p>
    1.9<strong>“录入”：</strong>站点线下与您结算并出票后，将方案的每张票的内容及彩票序列号、兑奖密码信息真实、及时地录入系统，录入成功后，用户可在“方案详情>>出票明细”中查看实体票信息，方案开奖将以实际录入的信息为准。
  </p>
  <p>1.10<strong>“兑奖”：</strong>站点按照官方反馈的实体票中奖金额，按照您选择的兑奖方式支付奖金给您；兑奖方式包括但不限于现金、微信钱包转账、支付宝钱包转账、QQ钱包转账等。</p>
  <p>1.11<strong>“用户资料”：</strong>指用户在注册、实名认证时提供的个人信息，包括但不限于：用户名、登录密码、手机号、真实姓名、身份证号、邮箱等信息。</p>
  <h3>第2条 服务规则</h3>
  <p>
    2.1<strong>“彩e通”</strong>是提供及维护彩票信息发布的服务平台，其为您和站点提供信息中介和信息管理服务，并设计、开发彩票信息服务产品，旨在提供一种新型的、促成彩票购买者和彩票投注站有效沟通的方式。用户知悉并同意：“彩e通”<strong>仅提供平台技术服务，</strong>“彩e通”<strong>并非用户购买彩票时的交易对象</strong>。
  </p>
  <p>2.2您可通过“彩e通”向站点用户发起中国体育彩票/中国福利彩票的出票请求，站点可接收您预约成功的方案信息（即彩票投注方案信息），并在接单后及时完成相应彩票的出票结算、出票、反馈出票状态、彩票兑奖、彩票保管等服务。</p>
  <p>
    2.3“彩e通”公示的任一彩种的游戏规则以彩票发行机构所公布的官方规则为准。“彩e通”服务的截止时间以平台公布的截止时间为准。“彩e通”所显示的日期与时间均为北京时间，用户投注预约成功的时间和站点用户确认出票成功的时间以“彩e通”的服务器时间为准。
  </p>
  <p>2.4您可在方案详情中查询是否出票成功。您应理解并同意，由于系统或网络拥堵等原因，可能导致前述订单状态中记载的出票状态与站点用户反馈的实际出票状态不一致，如出现该不一致情形的，以站点反馈的实际出票状态为准。</p>
  <p>2.5用户方案信息预约成功后，站点接单成功并完成出票的，您无权要求站点退款。</p>
  <p><strong>发生以下情形之一的，视为您方案预约失败或出票失败，“彩e通”和站点均不承担任何责任：</strong></p>
  <p>(1)方案预约成功后，站点接单前，投注的比赛/彩期到达销售截止时间；</p>
  <p>(2)方案预约成功后，站点接单前，您主动发起取消出票指令；</p>
  <p>(3)站点接单后，完成出票结算前，投注的比赛/彩期到达销售截止时间；</p>
  <p>(4)站点接单后，完成出票结算后，投注的比赛/彩期到达销售截止时间。</p>
  <p>
    2.6您的方案中奖后，站点将按照国家福利彩票或体育彩票中心确定的金额，及时地通过您选择的兑奖方式派发给您。单注彩票中奖金额高于人民币<strong>壹万元</strong>的，您需依法缴纳个人所得税，兑奖时由当地福利彩票或体育彩票中心依法代扣代缴，站点不会收取任何兑奖费用。
  </p>
  <p>2.7为免疑义，
    <strong>您在此不可撤销地确认其知悉并同意如下：“彩e通”所提供的服务仅限于本第二条第2.1项所列范围，“彩e通”不从事彩票销售业务，您将向站点直接购买彩票并进行相关的支付交易；您与站点之间实际产生的诸如出票结算、出票、取票、存票、兑奖等事宜均需您与站点协商处理，如您与站点之间出现纠纷，“彩e通”不承担责任，但“彩e通”将尽力采取必要的措施协助您和站点解决相关问题或纠纷。</strong>
  </p>
  <p><strong>2.8您必须自行准备如下设备和和承担如下开支：</strong></p>
  <p>A、上网设备，包括但不限于手机、电脑或者其他上网终端、调制解调器及其他必备的上网装置；</p>
  <p>B、上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</p>
  <h3>第3条 用户信息</h3>
  <p>3.1您应自行诚信向“彩e通”信息服务平台提供注册资料，用户保证其提供的注册资料真实、准确、完整、合法有效。为保护用户账户安全，真实姓名和身份证号不能更改。</p>
  <p>因您资料不真实、不全面、不准确造成不能兑奖、不能注销等情况，由您承担全部责任。如果您提供的资料包含有不正确的信息，“彩e通”保留结束您使用服务资格的权利。</p>
  <p>“彩e通”平台根据我国相关法律法规规定对您提供的信息予以保密。非经授权或法律规定的原因不向任何第三方提供。</p>
  <p>
    3.2您注册成功后，将产生用户名和密码等账户信息，您可以根据“彩e通”的规定更改密码。您应谨慎合理的保存、使用其用户名和密码并对通过您的账户和密码实施的所有行为、活动及事件负全责。您同意若发现任何非法使用用户账户或安全漏洞的情况，立即通知“彩e通”。
  </p>
  <p>3.3您不得将在“彩e通”获得的账户借（租）给他人使用，否则您应承担由此产生的全部责任，并与实际使用人承担连带责任。</p>
  <p>3.4您了解并同意，“彩e通”有责任应政府部门（包括司法及行政部门）的要求，向其提供用户在“彩e通”填写的注册及发布的信息。</p>
  <h3>第4条 责任范围与责任限制</h3>
  <p>
    4.1您个人明确同意对网络服务的使用承担风险。“彩e通”对此不作任何形式的承诺或保证，不论是明确的或隐含的。包括但不限于：不保证服务一定能满足您的需求，也不保证服务不会受中断，对服务的及时性，安全性，出错发生都不作保证；对在“彩e通”以及相关产品得到的任何服务或交易进程，不作保证；对“彩e通”平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、稳定性、完整性和及时性不作出任何承诺和保证；不保证平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性或适用于某一特定用途。
  </p>
  <p>
    4.2您理解并接受：“彩e通”<strong>作为信息服务平台，无法保证您每次发送的“提交站点出票”指令都能在相应站点得到完满实现，</strong>您因自行谨慎判断确定相关信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。
  </p>
  <p>
    4.3“彩e通”将会对站点进行资质认证审核，“彩e通”认证审核仅限于对站点提交的资料及信息进行甄别与核实，彩e通将对站点提交的资料和信息进行合理、谨慎的形式审查，但在“彩e通”的合法权限和合理能力范围内“彩e通”无法实质审查站点的实际经营、运营等行为，并不为此提供任何承诺。
  </p>
  <p>4.4您了解并同意，“彩e通”<strong>不对因下述情况而导致的任何损害赔偿承担责任，</strong>包括但不限于利润、名（商）誉、使用、数据等方面的损失或其他无形损失的损害赔偿：</p>
  <p>（1）使用或未能使用“彩e通”的服务；</p>
  <p>（2）第三方未经批准使用您的账户或擅自更改您的数据；</p>
  <p>（3）通过“彩e通”向站点发出的“预约成功”的投注信息未能得到完满实现而导致的损失。</p>
  <p>（4）您对“彩e通”服务的误解；</p>
  <p>（5）任何非因“彩e通”的原因而引起的与“彩e通”服务有关的其它损失。</p>
  <h3>第5条 用户信息的存储和限制</h3>
  <p>5.1“彩e通”不对您所发布信息的删除或存储失败负责。“彩e通”保留判定您的行为是否符合“彩e通”服务条款的要求和精神的权利，如果您违背了服务条款的规定，“彩e通”有权拒绝为其提供相关服务。</p>
  <p>
    5.2您账户休眠（指连续六个月未登陆或连续六个月未发生交易）或被注销后，“彩e通”没有义务为您保留或向您披露其账户中的任何信息，也没有义务向用户或第三方转发任何用户未曾阅读或发送过的信息，同时“彩e通”不会向任何第三方泄露您已注销账户中的任何信息（包括但不限于用户个人信息、交易信息、交易记录等）。
  </p>
  <p>5.3您同意：您在使用“彩e通”服务期间存在违法行为，以及违反本协议或服务规则的，在与“彩e通”的协议关系终止后，“彩e通”仍可依据本协议向您主张权利</p>
  <h3>第6条 网络服务内容的所有权</h3>
  <p>6.1“彩e通”各项电子服务的所有权、运营权、数据信息及相关的知识产权等全部归北京彩易通网络技术有限公司所有。</p>
  <p>
    6.2“彩e通”网络服务内容包括：文字、软件、声音、图片、录像、图标、广告中的全部内容；电子邮件的全部内容；“彩e通”为您提供的其它信息。所有这些内容受著作权、商标、知识产权和其它财产所有权法律的保护。所以，您只能在“彩e通”授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。<strong>“彩e通”所有的文章著作权归属北京彩易通网络技术有限公司所有，任何人需要转载“彩e通”平台发布的文章或引用其部分内容的，必须征得北京彩易通网络技术有限公司的书面同意。</strong>
  </p>
  <h3>第7条 “彩e通”服务使用规范</h3>
  <p>7.1在使用“彩e通”服务过程中，您承诺遵守以下约定：</p>
  <p>
    （1）在使用“彩e通”的服务过程中实施的所有行为均应遵守国家法律、法规等规范性文件及“彩e通”的各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您若违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保“彩e通”免于因此产生任何损失。
  </p>
  <p>（2）不发布国家禁止发布的任何事项信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的信息，不发布违背社会公共利益或公共道德、公序良俗的信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。</p>
  <p>（3）不对“彩e通”上的任何数据作商业性利用，包括但不限于在未经“彩e通”事先书面同意的情况下，以复制、传播等任何方式使用“彩e通”上展示的任何数据及信息。</p>
  <p>（4）不使用任何装置、软件或例行程序干预或试图干预“彩e通”的正常运作或正在“彩e通”上进行的任何活动。您不得采取任何将导致不合理的庞大数据负载加诸“彩e通”网络设备的行动（例如一次性选择大量订单或方案但未向站点支付款项等行为）。
  </p>
  <p>（5）不得发表、传送、传播、储存侵害他人知识产权、商业秘密等合法权利的内容或包含病毒、木马、定时炸弹等可能对“彩e通”系统造成伤害或影响其稳定性的内容。</p>
  <p>
    （6）不得进行危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器账号；不得未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；不得未经许可，企图探查、扫描、测试“彩e通”系统或网络的弱点或其它实施破坏网络安全的行为；不得企图干涉、破坏“彩e通”系统或网站的正常运行。
  </p>
  <p><strong>7.2您了解并同意：</strong></p>
  <p>（1）违反上述承诺时，“彩e通”有权依据本协议的约定，做出相应处理或终止向您提供服务，且无须征得您的同意或提前通知您。</p>
  <p>（2）根据我国相关法律法规及规范性文件或者“彩e通”服务规则的判断，您的行为涉嫌违反法律法规的规定或违反本协议和/或规则的条款的，“彩e通”有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、降低信用值或直接停止提供服务。
  </p>
  <p>（3）对于您在“彩e通”实施的行为，包括未在“彩e通”实施但已经对“彩e通”或站点产生影响的行为，“彩e通”有权单方认定该行为的性质及是否构成对本协议和/或规则的违反，并据此采取相应的必要的处理措施。</p>
  <p>（4）对于您涉嫌违反承诺的行为对任何第三方造成损害的，您应当以自己的名义独立承担所有的法律责任，并应确保“彩e通”免于承担因此产生的损失或增加的费用。</p>
  <p>（5）如您涉嫌违反有关法律或者本协议之规定，使“彩e通”遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿“彩e通”因此造成的损失及发生的费用，包括律师费、诉讼费、鉴定费、鉴证费、公证费及其他费用。
  </p>
  <p>
    （6）您使用“彩e通”的服务即视为您已阅读并同意受本协议的约束。“彩e通”有权在必要时修改本协议条款，北京彩易通网络技术有限公司将通过“彩e通”向您发送站内通知供您确认，您也可以在“彩e通”的最新版本中查阅相关服务协议条款。本协议条款变更后，如果您继续使用“彩e通”的服务，即视为您已接受修改后的协议。如果您不接受本协议，应当停止使用“彩e通”的服务。
  </p>
  <h3>第8条 合同组成</h3>
  <p>
    “彩e通”主页以及其他页面有关（包括但不限于）用户注册流程、变更流程、用户注册资格、方案发起流程、出票请求流程、用户服务以及用户升级等运营内容的细则以及法律声明均为本协议的有效组成部分，是对本协议的解释扩充，与本协议有着相同的法律效力。
  </p>
  <h3>第9条 适用法律和管辖</h3>
  <p>
    9.1本服务条款受中国现行法律、法规以及此后颁布和实施的法律、法规及规范性文件的约束和保护，您和“彩e通”一致同意服从其管辖。如发生“彩e通”用户服务条款与中华人民共和国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它条款则依旧保持对您和站点均产生法律效力和影响。
  </p>
  <p>9.2本协议签订地为中华人民共和国北京市海淀区。用户及“彩e通”任一方的任何争议和质疑，均需及时告知对方，并尽可能友好协商解决；如协商不成，双方同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</p>
  <h3>第10条 未尽事宜</h3>
  <p>“彩e通”将不时提供其它服务，而这些其它服务可能是受不同的服务条款和条件约束的，若新服务未发布服务条款和条件时，则适用于本条款，其未尽事宜，解释权归北京彩易通网络技术有限公司所有。</p>
</div>
</ion-content>