.menuList{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 36px;
    display: flex;
    background: #fff;
}

.menuItem{
    width: 33.3%;
    height: 36px;
    text-align: center;
    line-height: 36px;
}

.scrollMarginTop{
    margin-top: 34px;
}

.tradeList{
    padding: 30px 12px;
    margin-top: 5px;
}

.list{
    border-radius: 3px;
    margin-top: 10px;
    background: #fff;
    font-size: 14px;
    padding: 6px;
}

.listContent{
    display: flex;
}

.doList{
    position: relative;
}

.nowPrice{
    font-size: 14px;
    padding-top: 10px;
    line-height: 30px;
}

.nowPrice span{
    color: #FE3720;
}

.bunGroup{
    position: absolute;
    right: 0px;
    padding-top: 10px;
    line-height: 30px;
}

.bunGroup button{
    width: 60px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    margin-left: 12px;
    border-radius:0.50px;
}

.setPrice{
    border: 1px solid #ECECEC;
    background: #fff;
    color: #666666;
}

.trade{
    border: 1px solid #FE3720;
    color: #FE3720;
    background: #fff;
}

.ballKinds{
    font-size: 13px;
    color: #333333;
    font-weight:500;
    padding: 0px 10px 0px 0px;
}

.ballKinds img{
    width: 27px;
    height: 27px;
    border-radius: 27px;
    display: block;
    margin: 0 auto 5px;
}

.listTimeAndMoney{
    flex: 1;
}

.money{
    padding: 8px 0px;
    color: #333333;
    font-weight: 500;
}

.time{
    line-height: 20px;
    font-size: 12px;
}

.totalMoney{
    padding: 6px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.totalMoneyRed{
    padding: 6px 0px;
    color: #FE3720;
}

.state{
    padding: 5px 0px;
    text-align: right;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
}

.marginTop{
    margin-top: 12px;
}

.setPriceStatus {
    position: absolute;
    font-size: 6px;
    background: red;
    color: #fff;
    padding: 1px;
    left: 53px;
    height: 9px;
    line-height: 9px;
    border-radius: 2px;
    top: 3px;
}

.tradePop{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    padding: 50px;
    z-index: 9999;
  }
  
  .tradePopContainer{
    position: relative;
    border-radius: 8px;
    top: 40%;
    overflow: hidden;
    transform: translateY(-40%);
    text-align: center;
    background: #fff;
  }

  .closeBtn{
      position: relative;
      font-size: 18px;
      color: #333333;
      font-family:PingFangSC-Regular;
      font-weight:400;
      padding-top: 27px;
  }

  .closeBtn i{
    right: 10px;
    position: absolute;
    font-size: 12px;
    top: 10px;
  }

  .tradeSuccessIcon{
    font-size: 38px;
    color: #06bb06;
  }

  .tipsText{
      line-height: 38px;
      font-size: 16px;
  }

  .tradePopContainer button{
    position: relative;
    display: block;
    margin-top: 15px;
    border-top: 1px solid #ECECEC;
    height: 44px;
    font-size: 16px;
    color: #ED4143;
    background: #fff;
    width: 100%;
  }

  .tradePopContainer p{
        font-size: 12px;
        margin-top: 15px;
        font-size: 14px;
        line-height: 22px;
        color: #B2B2B2;
        padding: 0px 29px;
  }

  .tradePopContainer .planAmount{
    font-size: 18px;
    color: #333333;
    line-height:20px;
    font-weight: 500;
    margin-top: 20px;
  }

  .tradePopContainer .tipsText{
    color: #666666;
    font-size: 12px;
    font-weight:400;
    line-height: 20px;
    margin-top: 0px;
    font-family:PingFangSC-Regular;
  }

  .tradePopContainer .tipsRight{
    color: #666666;
    font-size: 12px;
    font-weight:400;
    line-height: 20px;
    margin-top: 10px;
    padding: 0px 56px;
    font-family:PingFangSC-Regular;
  }

  .tradePopContainer input{
    width: 60px;
    height: 22px;
    background: #eee;
  }

  .slider{
      padding: 10px 10px 0 10px;
      display: block;
  }

  .popButtonGroup{
    display: flex;
}

.popButtonGroup button{
    height: 44px;
    display: block;
    width: 50%;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    border: 0px;
}

.popButtonGroup button:first-child{
    background: #fff;
    color: #333333
}

.popButtonGroup button:last-child{
    background: #FE3720;
    color: #fff;
}

  .tradePrice{
      font-size: 12px;
      height: 14px;
      padding: 0px 10px;
  }

  .tradePrice span{
      display: inline-block;
      width: 50%;
  }

  .tradePrice span:nth-child(1){
    text-align: left;
  }

  .tradePrice span:nth-child(2){
      text-align: right;
  }

  .confirmtradeTip{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400px;
    padding: 27px 27px 0px;
    color: #B2B2B2;
  }

  .nextPage{
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    text-align: center;
    line-height: 40px;
    background: #fff;
    margin-top: 1px;
    border-radius:0px 0px 0.50px 0.50px;
}

.nextPageNull{
    font-size: 11px;
    text-align: center;
    line-height: 60px;
    color: #aaa;
    background: #F5F5F9;
}


.nextPage span{
    display: block;
}

.tradeListNull{
    text-align: center;
    margin-top: 50%;
    font-size: 13px;
}

.tradeListNull img{
    width: 233px;
}

.tradeListNull p{
    font-size: 14px;
    color: #666666;
    width: 195px;
    margin: auto;
    line-height: 24px;
}