<app-common-title [showReturn]=true [title]='title'></app-common-title>
<div class="page">
    <div *ngIf="step == 2">
        <div class="tips">请设置支付密码，用于支付验证</div>
        <div class="input">
            <div class="phone">
                <span *ngFor="let num of numberList">{{num}}</span>
            </div>
            <input type="number" #number (input)="setNewPwd(number)" [(ngModel)]="NewPwd">
        </div>
    </div>
    <div *ngIf="step == 3">
        <div class="tips">请再次填写以确认</div>
        <div class="input">
            <div class="phone">
                <span *ngFor="let num of numberList">{{num}}</span>
            </div>
            <input type="number" #number (input)="resetNewPwd(number)" [(ngModel)]="reNewpwd">
        </div>
    </div>
    
</div>

<app-alert [showPop]="showPop" [showTips]="showTips"></app-alert>