// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

/* You can add global styles to this file, and also import other style files */
@import "~element-angular/theme/index.css";
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-touch-callout:none; /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
html,body {
    // height: 100%;
    touch-action: inherit;
}

// html:not(.hydrated) body {
//     display: block;
// }

html,body{ -webkit-text-size-adjust: none; }  
/* 当需要在中文版chrome浏览器中显示小于12px的字体时，而且此时页面放大效果会被阻止 */

html,body{ -webkit-tap-highlight-color: rgba(0,0,0,0); }  
/* 去掉苹果手机点击瞬间出现的灰色背景 */

input{ 
    -webkit-appearance: none;
    -webkit-user-select:text; /*webkit浏览器*/
    -khtml-user-select:text; /*早期浏览器*/
    -moz-user-select:text;/*火狐*/
    -ms-user-select:text; /*IE10*/
    user-select:text;
 } 
 /* 去除苹果手机默认的input样式（默认样式可丑了ಥ﹏ಥ） */

selector{ cursor: pointer } 
/* 给IOS系统里cursor不为pointer的元素添加事件时会不同程度受影响，加上cursor: pointer可解决 */

img{ pointer-events: none; } 
 /* 阻止图片在微信里被点击放大 */


html{
    background-color: #F2F2F2;
}

.page {
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding-bottom: 55px;
    min-height: 100vh;
    overflow-y: scroll;
  }
  
  .container {
    // flex: 1;
    // display: flex;
    position: relative;
    overflow: scroll;
    // flex-direction: column;
    height: 100%;
    background-color: #F2F2F2;
  }

  .pageContainer{
      height: 100%;
      position: relative;
  }

  .backgroundColor{
      background: #FE3720;
  }

  .fontColor{
      color: #333333;
  }

  .fontColor2{
      color: #666666;
  }
  

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    list-style: none;
    outline: none;
}

li::before{
    outline: none;
}

.green{
    color: #32c07c;
  }

  .input{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0px 10px;
    border-bottom: 1px solid #C9C9C9;
    background: #fff;
    margin-bottom: 8px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    font-family: 'PingFangSC-Medium';
}

.input input{
    flex:1;
    user-select: auto;
}

.send{
    font-size: 11px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FF6666;
    font-weight: 400;
}

.num{
    font-size: 11px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #999999;
}
  
  .buttonGroup button{
    display: block;
    width: 288px;
    border-radius:20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 15px;
}

.buttonGroup .btn1{
    color: #FFFEFE;
    background: #FE3720;
}

.buttonGroup .btn2{
    background: #fff;
    border: 1px solid #999999;
    color: #999999;
}



ion-content{
    position: sticky;
    height: 94%;
    top: 44px;
}


