/* 底部 下一步 */
.bottomNext{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 49px;
  font-size: 14px;
  display: flex;
  padding: 5px 8px;
  box-sizing: border-box;
  background: #222;
  color: #fff;
}

.bottomLeft{
  flex: 1;
}

.bottomLeft p:first-child{
  font-size: 14px;
  font-family:PingFangSC-Medium;
  font-weight:500;
}

.bottomLeft p:last-child{
  font-size:12px;
  font-family:PingFangSC-Regular;
  font-weight:400;
}

.bottonRight{
  width: 68px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #bbb;
  border-radius: 3px;
  margin: auto 0;
}

.bottonRightRed{
  width: 68px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 3px;
  margin: auto 0;
  background: #FE3720;
}