
.pop{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    padding: 60px;
    z-index: 9999;
  }
  
  .popContainer{
    position: relative;
    border-radius: 3px;
    padding: 10px 15px;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
  }
  
  .showTipsFont{
    font-size: 14px;
  }

  .header{
    line-height: 40px;
    font-weight: bold;
  }

  .confirmTips{
    margin-bottom: 20px;
    font-size: 13px;
  }

  .confirmBtn{
    height: 30px;
    background: #FE3720;
    color: #fff;
    border: 0px;
    border-radius: 16px;
    margin-bottom: 5px;
  }