<app-common-title [showReturn]=true [title]='title'></app-common-title>
<div class="page signOutPage">
    <div class="input">
        <input type="tel" placeholder="请输入本人手机号" [(ngModel)]="tel">
    </div>
    <div class="input">
        <input type="password" placeholder="请输入6-15位字母或数字密码" #passwordType [(ngModel)]="password">
        <i class="iconfont icon-eye-slash" (click)="visible($event)"></i>
        <!-- <i class="iconfont icon-eye"></i> -->
    </div>
    <div class="input auth">
        <input class="authInput" type="number" id="code" placeholder="请输入验证码" [(ngModel)]="code">
        <span class="send" *ngIf="sendCode == false" (click)="getCode()">获取验证码</span>
        <span class="num" *ngIf="sendCode == true">{{seconds}}S</span>
    </div>
    <div class="input">
        <input type="tel" placeholder="请输入彩店邀请码" [(ngModel)]="providerInvite">
    </div>
  <div class="select">
      <el-checkbox [model]="val" (modelChange)="handle($event)">我已阅读并同意</el-checkbox><span (click)="agreements()">《彩e通平台服务协议》</span>
  </div>

  <div class="buttonGroup">
      <button class="btn1" (click)="submit()">注册</button>
  </div>
</div>

<app-alert [showPop]="showPop" [showTips]="showTips"></app-alert>