<app-common-title [showReturn]=true [title]='title'></app-common-title>
<ion-content>
<section class="pd">
    <h4>一、竞彩篮球胜负游戏</h4>
    <h4>玩法</h4>
    <p>竞猜全场比赛（含加时赛），主队的胜负情况。每一场比赛设置两种比赛结果选项：</p>
    <p>(1)“胜”：表示主队胜，客队负； (2)“负”：表示主队负，客队胜。</p>
    <h4>球队对阵</h4>
    <p>“客队：主队”，即客队在前，主队在后。</p>
    <h4>投注举例</h4>
    <p>对阵球队：休斯敦火箭vs洛杉矶湖人</p>
    <p>即洛杉矶湖人队主场对阵休斯敦火箭队 </p>
    <h3><img src="../../assets/5.jpg" alt="" width="100%"></h3>
    <h4>二、竞彩篮球让分胜负游戏</h4>
    <h5>玩法：</h5>
    <p>竞猜全场比赛（含加时赛），主队得分加减“让分数”后，主队的胜负情况。</p>
    <h5>投注选项：</h5>
    <p>(1)“胜”：主队胜，客队负 (2)“负”：主队负，客队胜 (3) 预设让分数=XX.5</p>
    <h5>球队对阵：</h5>
    <p>“客队：主队”，即客队在前，主队在后。</p>
    <h5>投注举例：</h5>
    <p>对阵球队：休斯敦火箭vs洛杉矶湖人(-5.5)</p>
    <p>即洛杉矶湖人队主场对阵休斯敦火箭队，洛杉矶湖人队减5.5分 </p>
    <h3><img src="../../assets/6.jpg" alt=""></h3>
    <h4>三、竞彩篮球胜分差游戏</h4>
    <h5>玩法：</h5>
    <p>竞猜全场比赛（含加时赛），比赛两队的得分差。例如：主1-5（表示主队赢客队1-5分），客 6-10 （表示客队赢主队6-10分）。</p>
    <h5>球队对阵：</h5>
    <p>“客队：主队”，即客队在前，主队在后。</p>
    <h5>投注选项</h5>
    <h3><img src="../../assets/7.jpg" alt=""></h3>
    <h5>投注举例：</h5>
    <p>对阵球队：休斯敦火箭vs洛杉矶湖人</p>
    <p>即洛杉矶湖人队主场对阵休斯敦火箭队</p>
    <p>如投注为“主1-5”则表示竞猜洛杉矶湖人队胜分在5分以内（含5分），“客1-5”则表示休斯敦火箭队胜分在5分以内（含5分）。</p>
    <p>其它比赛结果举例为： </p>
    <h3><img src="../../assets/8.jpg" alt=""></h3>
    <h5>投注结果：</h5>
    <p>(1) 如88:96，主队取胜时，则竞彩投注结果”主6-10”为中奖。</p>
    <p>(2) 如96:88，客队取胜时，则竞彩投注结果”客6-10”为中奖。</p>
    <h4>四、竞彩篮球大小分游戏</h4>
    <h5>玩法：</h5>
    <p>竞猜全场比赛（含加时赛），比赛双方得分总数与预设总分数的大小关系。每一场比赛设置2种选项：</p>
    <p>(1)“大”：表示主队和客队得分总数大于预设总分数；</p>
    <p>(2)“小”：表示主队和客队得分总数小于预设总分数。</p>
    <h5>投注举例：</h5>
    <h3><img src="../../assets/9.jpg" alt=""></h3>
    <h4>投注举例：</h4>
    <p>例如：A队和B队比赛的预设总分数为178.5分。</p>
    <p>(1)“大”主队和客队得分总数大于178.5分；</p>
    <p>(2)“小”主队和客队得分总数小于178.5分。 </p>
    <h5>投注结果：</h5>
    <p>(1) 如比赛预设总分数为178.5分，比赛结果总分数为179分，则竞彩投注结果“大”为中奖。</p>
    <p>(2) 如比赛预设总分数为178.5分，比赛结果总分数为178分，则竞彩投注结果“小”为中奖。 </p>
    <h4>五、投注方式</h4>
    <p>彩民购买“竞猜篮球游戏”时，选择1场比赛投注为单场投注，选择2场或2场以上比赛的组合投注为过关投注。投注方式包括单式投注和复式投注。其中，对所选比赛场次的比赛结果均选择1种投注结果为单式投注。对某个或某几个比赛场次选择2种或2种以上的投注结果为复式投注。</p>
    <p>四种玩法的开售情况如下：</p>
    <p>(1) 篮球胜负：单场、2×1、3×1、4×1、5×1、6×1、7×1、8×1 （此玩法的单场投注，只在部分赛事中开售） </p>
    <p>(2) 篮球让分胜负：单场、2×1、3×1、4×1、5×1、6×1、7×1、8×1 </p>
    <p>(3) 篮球大小分：单场、2×1、3×1、4×1、5×1、6×1、7×1、8×1 </p>
    <p>(4) 篮球胜分差：单场、2×1、3×1、4×1</p>
    <h4>六、奖金计算</h4>
    <p>竞彩篮球游戏的奖金为销售额的73%，其中的72%为返奖奖金，1%为调节基金。根据游戏规则，本游戏设置固定奖金。</p>
    <h5>固定奖金</h5>
    <p>固定奖金：过关投注的奖金为固定奖金。</p>
    <p>单注中奖奖金即为固定奖金(单注)。 销售开始前，每个有效的过关投注组合均设置1个固定奖金；在销售过程中，该固定奖金会根据销售等情况进行实时的调整；彩民的中奖金额以完成投注时刻对应的 固定奖金金额为准，不受投注完成后固定奖金调整的影响。</p>
    <p>例如：胜负游戏中，“休斯敦火箭vs洛杉矶湖人”+“芝加哥公牛vs夏洛特山猫” 某彩民购买一注“2×1”过关组合，完成投注时，所有竞猜选项对应的固定奖金金额如下所示：</p>
    <h3><img src="../../assets/10.jpg" alt="" width="100%"></h3>
    <p>如果该彩民的竞猜选项是“胜+负”，并且竞猜正确，则其最后的中奖金额为4.8元。</p>
    <p>固定奖金的单注彩票最高限额：</p>
    <p>(1) 选择2-3场过关投注的，单注最高奖金限额20万元； </p>
    <p>(2) 选择4-5场过关投注的，单注最高奖金限额50万元；</p>
    <p>(3) 选择6场过关投注的，单注最高奖金限额100万元。</p>
    <h5>七、投注注释</h5>
    <p>根据投注额、突发事件等因素，销售系统可能会拒绝某些大额投注，暂停或提前截止针对某场比赛的某些特定过关组合、特定结果选项的投注，暂停或提前截止针对某场比赛的所有投注。</p>
    <h5>八、无效比赛的处理</h5>
    <p>1、由于比赛取消、延期等原因，导致某场比赛被认定为无效场次，则该场比赛的所有单场投注按退票处理。</p>
    <p>2、彩民在过关投注中，对该场比赛的所有投注均视为无效，固定奖金按在原投注时刻去除该场比赛后的投注组合对应的固定奖金计算；各关奖金数额可参考投注时打印的“奖金计算明细清单”。</p>
    <p>例如：火箭VS湖人+黄蜂VS猛龙+快船VS掘金</p>
    <p>购买1注“火箭VS湖人(胜)”的胜负游戏单场投注；购买1注“火箭VS湖人(胜)+黄蜂VS猛龙(负)+快船VS掘金(胜)”的3×1胜负游戏过关组合。</p>
    <p>完成投注时，“黄蜂VS猛龙(负)+快船VS掘金(胜)”的2×1过关组合及“火箭VS湖人(胜)+黄蜂VS猛龙(负)+快船VS掘金(胜)”的3×1过关组合所对应的固定奖金如下所示：</p>
    <h3><img src="../../assets/11.jpg" alt="" width="100%"></h3>
    <p>假如“火箭VS湖人”被认定无效：</p>
    <p>“3×1”过关组合应被认定为“2×1”过关组合，如彩民竞猜正确，最后中奖金额为35元。 3、更多关于无效比赛的定义，请通过中国竞彩网查阅游戏规则。</p>
    <h5>九、特殊情况</h5>
    <p>竞猜的比赛出现诸如提前、推迟、中断等特殊情况，则特别规定如下：</p>
    <p>1)在某个比赛场次开始销售前，其比赛时间提前或推迟或取消比赛，则相应更改该比赛场次的开始、截止销售时间或取消该比赛场次竞猜。</p>
    <p>2)在某个比赛场次开始销售后，若其比赛时间提前，则相应提前该比赛场次的截止销售时间。</p>
    <p>3)在某个比赛场次开始销售后，若其比赛时间提前，且比赛开始时仍在进行销售，则认定该比赛场次对于在比赛开始时刻前发生的投注为有效场次，所涉及投注可　正常参与兑奖；认定该比赛场次对于在比赛开始时刻后发生的投注则为无效场次。</p>
    <p>4)在某个比赛场次开始销售后，若其比赛时间推迟且未超过原定时间36小时，则相应推迟该比赛场次的截止销售时间。</p>
    <p>5)在某个比赛场次开始销售后，若其比赛时间推迟且超过原定时间36小时或无法获知具体推迟时间或取消比赛，则认定该比赛场次为无效场次。</p>
    <p>6)若某个比赛场次，在比赛进行至35分钟及以上(全场时长40分钟制比赛)或进行至43分钟及以上(全场时长48分钟制比赛)时因故中断，且当值裁判或比赛主办方裁　决比赛正式完成，则认定该比赛场次为有效场次，所涉及投注可正常参与兑奖。</p>
    <p>7)若某个比赛场次在比赛进行中因故中断，且不符合前述(6)中描述的条件，如果自中断时刻起36小时内继续完成了比赛，则认定该比赛场次为有效场次，所涉及　投注可正常参与兑奖。</p>
    <p>8)若某个比赛场次在比赛进行中因故中断，且不符合前述(6)中描述的条件，如果自中断时刻起36小时内未完成比赛或无法获知具体补赛时间或取消比赛，则认定　该比赛场次为无效场次。</p>
    <p>9)在某个比赛场次开始销售后，如果比赛主办方决定更换比赛场地，若是从一中立比赛场地更换至另一中立比赛场地，则认定该比赛场次为有效场次，所涉及投注　可正常参与兑奖；若不符合前述更换条件，则认定该比赛场次为无效场次。</p>
    <p>10)在某个比赛场次开始销售后，若参赛双方中有一方与原定参赛队伍不同，则认定该比赛场次为无效场次。</p>
    <p>11)在某个比赛场次开始销售后，若比赛主办方决定在无观众、无转播的封闭条件下进行比赛，则认定该比赛场次为无效场次。</p>
    <p>12)对上述无效场次的认定由国家体育总局体育彩票管理中心最终解释。</p>
    <p>13)当某场比赛被认定为无效场次，则该比赛场次的所有单场投注按退票处理；在过关投注中对该比赛场次的所有选择均视为无效，涉及该比赛场次的过关投注组合之固定奖金按在原投注时刻去除该比赛场次后的投注组合对应的固定奖金计算。</p>
    <p>14)在某个比赛场次销售过程中，国家体育总局体育彩票管理中心可根据投注额、突发事件等因素，拒绝某些大额投注、暂停或提前截止针对该场比赛的某些特定过关组合特定结果选项的投注、暂停或提前截止针对该场比赛的所有投注。</p>
</section>
</ion-content>