.forgotPage{
    background: #fff;
}

.forgotPassword{
    width: 342px;
    margin: 25px 16px 50px 16px;
}
.input i,
.input span{
    font-size: 14px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.authCode{
    width: 54px;
}


.auth{
    margin-bottom: 28px;
}

button{
    width: 342px;
}
