<app-common-title [showReturn]=true [title]='title'></app-common-title>
<div class="page forgotPage">
  <div class="forgotPassword">
    <div class="input">
      <input type="tel" placeholder="请输入手机号码" [(ngModel)]="tel">
    </div>
    <div class="input auth">
      <input type="number" id="code" placeholder="请输入验证码" [(ngModel)]="code">
      <span class="send" *ngIf="sendCode == false" (click)="getCode()">发送验证码</span>
      <span class="num" *ngIf="sendCode == true">{{seconds}}S</span>
    </div>
    <div class="buttonGroup">
      <button class="btn1" (click)="next()">下一步</button>
    </div>
  </div>
</div>

<app-alert [showPop]="showPop" [showTips]="showTips"></app-alert>