<!-- <app-common-title [showReturn]=false [title]='title'></app-common-title> -->
<!-- <ion-content> -->
<div class="pageContainer">
    <div class="banner"><img src="../../assets/banner.png" alt=""></div>
    <div class="container">
        <div class="list">
            <div class="listTitle">热门彩种</div>
            <div class="listItem">
                <div routerLink='football' class="ball">
                    <img src="../../assets/football.png" alt="">
                    <div>
                        <p>竞彩足球</p>
                        <p>返奖率高达73%</p>
                    </div>
                </div>
                <div class="line"></div>
                <div routerLink='basketball' class="ball">
                    <img src="../../assets/basketball.png" alt="">
                    <div>
                        <p>竞彩篮球</p>
                        <p>篮彩2选1易中奖</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="list">
            <div class="listTitle">常用功能</div>
            <div class="listItem">
                <div routerLink='#' class="ball">
                    <img src="../../assets/football.jpg" alt="">
                    <div>
                        <p>开奖查询</p>
                        <p>快速 准确</p>
                    </div>
                </div>
                <div routerLink='#' class="ball">
                    <img src="../../assets/basketball.jpg" alt="">
                    <div>
                        <p>竞彩资讯</p>
                        <p>第一手体育资讯</p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="list2">
            <div class="listTitle">新手帮助</div>
            <div class="listItem">
                <div routerLink='howtoTread' class="ball wholeHeight">
                   
                </div>
                <div class="ballContent">
                    <div routerLink='howtoissueorders' class="ball1">
                        <!-- <img src="../../assets/order.png" alt=""> -->
                        <div>
                            如何发单
                        </div>
                    </div>
                    <div routerLink='howtoawardprizes' class="ball1">
                        <!-- <img src="../../assets/prize.png" alt=""> -->
                        <div>
                            如何领奖
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- </ion-content> -->
<!--  -->
<app-footer></app-footer>